{% extends "_layouts/base.html" %}

{% block headline %}
<h1>Account Creation Successful</h1>
{% endblock %}

{% block content %}
<p>Thank you for registering to use the ASI Portal!</p>
<p> Before you can begin using the ASI Portal you must first activate your account.
<strong>In order to activate your account, you must visit the activation link sent to the FIU email you signed up with.</strong>
</p>

<p>
If you haven't received an email please or are having other issues please contact us at :
<a href="mailto:asiportalteam@gmail.com">asiportalteam@gmail.com</a>
</p>

{% endblock %}
