{% extends '_layouts/base.html' %}

{% block headline %}
<h1>Reset Your Password</h1>
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
        <p class="panel-body">
            Please enter your FIU email. If an account exists with that email address, you will receieve an email with a link to complete the process of reseting your password.
        </p>
    {{ form.as_p }}
    <button type="submit" value="submit" class="btn btn-primary">
        Reset My Password
    </button>
</form>
{% endblock %}
